*
{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.password-checker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-generator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.checktext
{
    height: 36px;
    width: 100px;
    background-color: red;
    margin-bottom: 25px;
}